<footer class="bg-primary text-white py-3">
    <div class="max-w-6xl mx-auto px-6 text-center">
      <p>Built with ❤️ using <span class="text-blue-light font-bold">Astro</span></p>
    </div>
  </footer>